{# templates/home/index.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
  

    <div class="container mt-4">
        <div class="jumbotron">
            <h1 class="display-4">Bienvenue sur Mon Site</h1>
            <p class="lead">Ceci est la page d'accueil.</p>
        </div>
    </div>
{% endblock %}
